/* ========================= Geral ========================= */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ========================= Body ========================= */
body{
    font-family: Arial, sans-serif;
    background-color: #F5F7F4;
    color: #111827;
    overflow-x: hidden;
    line-height:1.5;
}

/* ========================= Links ========================= */
a{
    text-decoration: none;
    color: inherit;
}

/* ========================= Imagens ========================= */
img{
    max-width: 100%;
    display: block;
}

/* ========================= Container Principais ========================= */
.container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

/* ========================= Cor padrão ========================= */
.text-orange{
    color: #FF6B00;
}

/* ========================= Header ========================= */
.header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 80px;
    background: #FFFFFF;
    box-shadow:0 4px 20px rgba(0,0,0,0.04);
    position: sticky;
    top: 0;
    z-index: 1000;
}
.menu{
    display:flex;
    align-items:center;
    gap:40px;
}
.menu a{
    position: relative;
    font-size: 15px;
    font-weight: 600;
    color: #4b5563;
    transition: 0.3s;
}
.menu a:hover{
    color: #FF6B00;
}
.menu a::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 0%;
    height: 2px;
    background: #FF6B00;
    transition: 0.3s;
}
.menu a:hover::after{
    width: 100%;
}
.btn-sair{
    width:45px;
    height:45px;
    display:flex;
    align-items:center;
    justify-content:center;
    color:#FF6B00;
    border-radius:12px;
    font-size:18px;
    transition:0.3s;
}
.btn-sair:hover{
    background:#FF6B00;
    color:#FFFFFF;
    transform:translateY(-2px);
}
.logo img{
    width: 150px;
    object-fit: contain;
}